* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background-color: white;
  color: #111;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  border-bottom: 1px solid #eee;
}

.logo {
  font-size: 1.3rem;
  font-weight: 600;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-size: 0.95rem;
}

.nav-links a:hover {
  color: #0077ff;
}

/* HOME SECTION */
.home {
  min-height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 60px;
  max-width: 900px;
}
 animation: fadeUp 1s ease forwar

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.intro {
  font-size: 0.9rem;
  color: #777;
  margin-bottom: 10px;
}

.home h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.home h2 {
  font-size: 1.4rem;
  font-weight: 400;
  color: #555;
  margin-bottom: 20px;
}

.description {
  font-size: 1rem;
  line-height: 1.7;
  color: #444;
  max-width: 600px;
  margin-bottom: 30px;
}

/* BUTTONS */
.actions {
  display: flex;
  gap: 15px;
}

button {
  padding: 12px 26px;
  font-size: 0.95rem;
  border-radius: 4px;
  cursor: pointer;
  border: none;
}

.primary {
  background-color: #111;
  color: white;
}

.primary:hover {
  background-color: #000;
}

.secondary {
  background-color: black;
  color: white;
  border: 1px solid #ccc;
}

.secondary:hover {
  border-color: #111;
}
